{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div>
	<main>
		<section>
			<ul>
				<h1>{{name}}</h1>
				<p>{{description}}</p>
				{{#with history}}
				<strong>{{founder}} ({{year}})</strong>
				{{/with}}
				<hr>

				<br>
				<h3>Types</h3>
				{{#each types}}
				<li>{{this}}</li>
				{{/each}}
				<br>
				<h3>Syntax</h3>
				{{#with syntax}}
				{{#each variables}}
				<li>{{this}}</li>
				{{/each}}
				<br>
				<h3>Functions</h3>
				{{#each functions}}
				<li>{{this}}</li>
				{{/each}}
				<br>
				<h3>Conditionals</h3>
				{{#each conditionals}}
				<li>{{this}}</li>
				{{/each}}
				<br>
				<h3>Loops</h3>
				{{#each loops}}
				<li>{{this}}</li>
				{{/each}}
				<br>
				<h3>Classes</h3>
				{{#each classes}}
				<li>{{this}}</li>
				{{/each}}
				{{/with}}
				<br>
				<h3>Features</h3>
				{{#each features}}
				<li>{{this}}</li>
				{{/each}}
				<br>
				<h3>Libraries</h3>
				{{#each libraries}}
				<li>{{this}}</li>
				{{/each}}
				<br>
				<h3>Tools</h3>
				{{#each tools}}
				<li>{{this}}</li>
				{{/each}}
				<br>
				<h3>Community</h3>
				{{#each community}}
				<li>{{name}} ({{type}})</li>
				{{/each}}
			</ul>
		</section>
	</main>
</div>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}