{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<main>
	<div class="card">
		{{#with navigation}}
		<div class="nav">
			{{#each links}}
			<div class="nav-item">
				<a href="{{href}}" class="nav-link">{{text}}</a>
			</div>
			{{/each}}
		</div>

		{{/with}}
	</div>
	<br>
	{{#with newsBlock}}
	<h2 class="text-center">{{title}}</h2>
	<br>
	<div class="row g-2">
		{{#each cards}}
		<div class="card col-3">
			<div class="card-header">{{title}}
				<div class="badge text bg-danger">
					{{#if isTop}} Top {{/if}}
				</div>
				<div class="badge text bg-success">
					{{#if isNew}} New {{/if}}
				</div>
			</div>
			<p>{{description}}</p>

		</div>
		{{/each}}
	</div>
	{{/with}}
	<br>
	<br>
	<hr>
	<br>
	<br>
	{{#with goodsBlock}}
	<div class="nav">
		{{#each tabs}}
		<div class="nav nav-tabs">
			{{#if isActive}}{{text}}{{/if}}
			{{#if isDisabled}}{{text}}{{/if}}
		</div>
		{{/each}}
	</div>
	<br>
	<br>
	<div class="row g-4">
		{{#each cards}}
		<div class="card col-4">
			<img src="{{image}}">
			<div class="card-body">
				<strong>{{title}}</strong>
				<p>{{description}}</p>
				<div class="badge text bg-warning">
					{{#if isHot}}isHot{{/if}}
				</div>
				<div class="badge text bg-primary">
					{{#if isNew}}isNew{{/if}}
				</div>
			</div>
		</div>
		{{/each}}
	</div>
	{{/with}}
	<br>
	<br>
	<hr>

	{{#with subscribe}}
	<div class="card text bg-secondary">
		<div class="card-body">
			<h2>{{header}}</h2>
			<p>{{description}}</p>

			{{#each buttons}}
			<a href="{{link}}" class="btn btn-primary">{{text}}</a>
			{{/each}}
		</div>
	</div>
	{{/with}}

	<br>
	<br>
	<hr>
	{{#with service}}
	<div class="card text bg-success">
		<div class="card-body">
			<h2 class="text-center">{{title}}</h2>
			<p class="text-center">{{description}}</p>
			{{#each buttons}}
			<a href="https://www.youtube.com/" class="btn btn-primary">{{text}}</a>
			{{/each}}
		</div>
	</div>
	{{/with}}


	<hr>

	{{#each footer}}
	<div class="nav">
		<div class="nav-item">
			<a href="{{link}}" class="nav-link">{{text}}</a>
		</div>
	</div>
	{{/each}}



</main>






{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}