{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}


<main>
	<div class="row">
		<div class="col">
			<div class="card">
				<div class="card-body">
					{{#with navigation}}
					<div class="nav">
						{{#each links}}
						<div class="nav">
							<div class="nav-item">
								<a href="{{href}}" class="btn btn-link">{{text}}</a>
							</div>
							{{/each}}
							<button class="btn btn-link disabled">disabled</button>
						</div>
						{{/with}}
					</div>
				</div>
			</div>
		</div>
</main>


<div class="row p-5">
	<div class="col">
		{{#with header}}
		<h2>{{title}}</h2>
		{{#with button}}
		<a href="{{link}}" class="btn btn-outline-dark">{{text}}</a>
		{{/with}}
		{{/with}}
	</div>
</div>

<hr>


{{> cartGoodsltem}}

<hr>
<div class="col ps-4">
	{{#with total}}
	<h2>{{title}}</h2>
	<h2>{{amount}}</h2>
	<p>{{delivery}}</p>
	{{#each buttons}}
	{{#if isSuccess}}<button href="{{link}}" class="btn btn-success">{{text}}</button>{{/if}}
	<br>
	{{#if isOutline}}<button href="{{link}}" class="btn btn-outline-success">{{text}}</button>{{/if}}
	{{/each}}
	{{/with}}
</div>
<hr>

{{#with goodsOtherBlock}}
<h2 class="text-center">{{title}}</h2>
<div class="row ps-4">
	{{#each cards}}
	<div class="card col me-2">
		<img src="{{image}}">
		<h3>{{title}}</h3>
		<p>{{description}}</p>
		<div class="badge-text text-warning">
			{{#if isHot}}isHot{{/if}}
		</div>
	</div>
	{{/each}}
</div>
{{/with}}
<br>
<hr>
{{#with subscribe}}
<div class="card">
	<div class="card-body">
		<h2>{{header}}</h2>
		<p>{{description}}</p>
		{{#each buttons}}
		<div class="col mt-2">
			<a href="{{link}}" class="btn btn-primary">{{text}}</a>
		</div>
		{{/each}}
	</div>
</div>
{{/with}}

<div class="row">
	<div class="col">
		<div class="nav">
			{{#each footer}}
			<div class="nav-item col-2">
				{{#each this}}
				<a href="{{link}}" class="nav-link {{#if @last}}disabled{{/if}}">{{text}}</a>
				{{/each}}
			</div>
			{{/each}}
		</div>
	</div>
</div>
{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}